@font-face {
   font-family: 'Forturn';
   font-display: swap;
   src: url('Forturn/font.ttf');
}
@font-face {
   font-family: 'LEMONMILK-Regular';
   font-display: swap;
   src: url('LEMONMILK-Regular/font.ttf');
}
